a {
  text-decoration: none;
  font-size: 25px;
  color: #298cff;
}

.links {
  display: flex;
  gap: 25px;
}

.active {
  text-decoration: underline;
}

.line {
  background-color: #414548;
  width: 1px;
  height: 25px;
}

.navbar {
  margin-right: 30px;
}
